<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <center>
    {% with messages = get_flashed_messages() %}  
    {% if messages %}  
               {% for message in messages %}  
                    <h1 style="color: rgb(200, 49, 26);">{{ message }}</h1> 
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
    <h2>Enter Student Details</h2>
    <form action="/success" method = "POST">
        Enter Id : <input type="text" name = "sid"><br><br>
        Enter Name : <input type="text" name = "sname"><br><br>
        Enter Branch : <input type="text" name = "sbranch"><br><br>
        <input type="submit" value = "Submit">
    </form><br><br>
    <a href="/view">View Students</a>
    </center>
</body>
</html>